<html>
	<head>
		<title>Welcome to {{greeting_msg}}</title>
	</head>
	<body>
		<h3>Hostname : {{ansible_nodename}}</h3>
		<h3>Provisioner Tool : {{provisioner_tool}}</h3>
		<h3>Configuration Management Tool : {{conf_mgr_tool}}</h3>
	</body>
</html>
